.Card {
    width: 100%;
    height: 500px;
    background-color: #3b1933;
    position: fixed;
    margin-top: 23rem;
    right: 0;

}

.Card-container {
    margin-left: 20px;
    display: flex;
    margin-right: 20px;
}

.question-card {
    height: 42vh;
    background-color: #1f59ab;
    width: 25%;
    border-radius: 9px;
    box-shadow: 0px 5px #292e6e;
    text-align: center;
    cursor: pointer;
}

.ans {
    padding: 150px;
    padding-left: 130px;
    color: white;
    font-size: 1.5rem;
   position: fixed;
}