.Card{
    width: 100%;
    /* height: 320px; */
    background-color: #3b1933;
    
    

}

.Card-container{
    height: 320px;
    margin-left: 20px;
    display: flex;
    margin-right: 20px;
    
}

.question-card{
    height: 42vh;
    background-color: #1f59ab;
    width: 25%;
    border-radius: 9px;
    box-shadow: 0px 5px #292e6e;
    text-align: center;
    cursor: pointer;
    
}

.question-card1{
    height: 42vh;
    background-color:#2ea39b;
    width: 25%;
    margin-left: 20px;
    border-radius: 9px;
    text-align: center;
    box-shadow: 0px 5px #23726d;
    cursor: pointer;
}
.question-card2{
    height: 42vh;
    background-color: #eda634;
    width: 25%;
    margin-left: 20px;
    border-radius: 9px;
    text-align: center;
    box-shadow: 0px 5px #ad7e31;
    cursor: pointer;
}

.question-card3{
    height: 42vh;
    background-color: #f76887;
    width: 25%;
    margin-left: 20px;
    border-radius: 9px;
    text-align: center;
    box-shadow: 0px 5px #a9485d;
    cursor: pointer;

}

.ans{
    padding: 150px;
    padding-left: 130px;
    color: white;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

